<header id="site-header" class="site-header relative left-0 right-0 border-top z3 pad-x-l">
  <div class="wrapper cf max-width-xl float-center">

    {% assign url_parts = page.url | split: '/' %}

    <nav class="float-left mar-t-l mar-r-l ">
      <a href="{{site.baseurl}}/" class="h5 link bold inputmono-bold mar-0 {% if page.url == '/' %} current black {% endif %}"> {{site.title}} </a>
    </nav>
    <nav class="col right-0  mar-t-l monospace">
        <ul class="list-reset cf">
          <li class="inline-block ">
            <a href="{{site.baseurl}}/info/" class="h5 link mar-r-m {% if url_parts[1] == 'info' %} current black {% endif %}">Info</a>
          </li>
          <li class="inline-block ">
            <a href="{{site.baseurl}}/projects/" class="h5 link mar-r-m {% if url_parts[1] == 'projects' %} current black {% endif %}">Projects</a>
          </li>
          <li class="inline-block ">
            <a href="{{site.baseurl}}/contact/" class="h5 link mar-r-m {% if url_parts[1] == 'contact' %} current black {% endif %}">Contact</a>
          </li>
        </ul>
    </nav>
  </div>
</header>
